body {

    padding: 0;
    height: 100%;
    
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("../assets/image/joker.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

div {


    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    position: absolute;


    top: 50%;
    left: 50%;

    height: 600px;
    transform: translate(-50%, -50%);
    overflow: hidden;
    align-items: center;


    align-content: center;
    background-color: rgba(255, 255, 255, 0.05);

    box-shadow: 0 0 10px white,
        0 0 10px white,
        0 0 10px white,
        0 0 10px white;

}

@keyframes anima {
    0% {
        box-shadow: 0 0 10px blue,
            0 0 10px blue,
            0 0 10px blue,
            0 0 10px blue;
    }
    25% {
        box-shadow: 0 0 10px red,
            0 0 10px red,
            0 0 10px red,
            0 0 10px red;
    }
    50% {
        box-shadow: 0 0 10px white,
            0 0 10px greenyellow,
            0 0 10px greenyellow,
            0 0 10px greenyellow;
    }
    75% {
        box-shadow: 0 0 10px white,
            0 0 10px purple,
            0 0 10px purple,
            0 0 10px purple;
    }
    100% {
        box-shadow: 0 0 10px white,
            0 0 10px pink,
            0 0 10px pink,
            0 0 10px pink;
    }   
}

table {
    margin-left: 0px;
    position: absolute;
    justify-content: center;
    align-items: center;

    border-collapse: collapse;
    max-width: 400px;
    width: 100%;
    color: white;
    border-radius: 50px !important;
    border-width: 2px;

}

th,
td {
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    padding-right: 1px !important;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px !important;
    border-width: 2px;

}

#img {
    position: absolute;
    top: 120px;
    width: 150px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 100px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
            animation: anima 10s  infinite;

}
